#map {
    height: 60vh;
    width: 50vw;
}

/* 
    * Optional: Makes the sample page fill the window. 
    */
/* html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
} */

/* #description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
} */

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

.pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}